
$theme: "juotava-light" !default;

//
// Color System
//

$primary: #D98F60 !default;
$secondary: #F0D9BA !default;
//$info: #000000 !default;
//$success: #000000 !default;
//$warning: #000000 !default;
//$danger: #000000 !default;
//$light: #000000 !default;
//$dark: #6F4E37 !default;

// Body

//$body-bg:                   $dark-coffee !default;
//$body-color:                $white !default;

// Links

$link-color:                   $primary !default;
$link-decoration:              none;
$link-hover-decoration:        underline;

// Components

// Fonts

